button.runway.runway {
    background-color: yellow;
    color: black;
}

button.runway.runway-open {
    background-color: green;
}

button.runway.runway-closed {
    background-color: red;
}

.news-updates {
    list-style: none;
}
